<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <script src="./javascripts/nexusUI.min.js"></script>
      <script type="text/javascript" src="https://tonejs.github.io/CDN/latest/Tone.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
